::-webkit-scrollbar {
  display: none;
}

.dash-title {
  color: white;
  font-size: 23px;
  font-weight: bold;
}
.home-container{
  height: 100vh;
  overflow-y: scroll;
}
.search {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 45vw;
  background-color: #333333;
  opacity: 0.9;
  border-radius: 12px;
  border: none;
  margin-left: 5vw;
}

@media screen and (max-width: 768px) {


  .search-container {
    display: none;
  }

  .dash-title {
    margin-left: -20px;
    color: white;
    font-size: 20px;
    font-weight: 200;
  }
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}

.search-icon.hidden {
  display: none;
}

.search {
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
  }
}

@media screen and (min-width: 768px) {
  .content {
    display: none;
  }
}